alembic==1.12.1
asyncpg==0.28.0
databases==0.8.0
fastapi==0.104.1
orjson==3.9.10
psycopg2-binary==2.9.9
pydantic==1.10.13
pydantic_core==2.10.1
python-dotenv==1.0.0
starlette==0.27.0
uvicorn==0.23.2
sqlalchemy==1.4.42